*{
    font-family: Arial, Helvetica, sans-serif;
}
.lista-section {
    align-content: center;
    text-align: left;
    padding-left: 18.5%;
}
.lista-ul {
    list-style: none;
    margin: 0;
    padding-left: 1.15rem;
}