*{
    font-family: Arial, Helvetica, sans-serif;
}
.item-li{
    width: 75%;
    height: 50px;
    background-color: rgb(216, 184, 247);
    align-items: center;
    justify-self: center;
    position: relative;
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    font-size: 20px;
    /*margin: 20px 10px 15px 0;*/
    text-align: center;
}
.item-li::before{
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
}
.done {
    text-decoration: line-through;
    opacity: 0.3;
}