*{
    font-family: Arial, Helvetica, sans-serif;
}
.buscador{
    width: 75%;
    height: 50px;
    align-items: center;
    justify-self: center;
    position: relative;
    font-size: 25px;
}
.buscador-input{
    height: 30px;
    text-align: center;
    margin: 0 auto;
    /*background-color: aqua;*/
    align-items: center;
    width: 75%;
    color: antiquewhite;
    font-size: 25px;
    background-color: rgb(216, 184, 247);
    border-radius: 10px;
    border-color: blueviolet;
    border: none;
}
.formulario{
    width: 50vw;   
    margin-left : 26vw;
    align-items: center;
}
.formulario-button{
    height: 30px;
    border-radius: 10px;
    border-color: blueviolet;
    background-color: rgb(216, 184, 247);
    font-size: 20px;
}