*{
    font-family: Arial, Helvetica, sans-serif;
}
.div-contador {
    width: 60%;
    height: 50px;
    background-color: rgb(216, 184, 247);
    align-content: center;
    margin-left: 20%;
}
.h1-contador {
    text-align: center;
}
